{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Login{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form method="GET">
        <label for="username_form">Username</label>
        <input name="username_form" id="username_form">
        <input type="submit" value="Login">
    </form>
    <ul>
        {% for user in data %}
            <li>{{ user.username }}</li>
{#            <li>No departments</li>#}
        {% endfor %}
    </ul>
{% endblock %}
