{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Get{% endblock %}</h1>
{% endblock %}

{% block content %}
    <ul>
        {% for user in data %}
            <li>{{ user[1] }}</li>
{#            <li>No departments</li>#}
        {% endfor %}
    </ul>
{% endblock %}
