<!doctype html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %} - ITIS</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
<nav>
    <h1><a href="{{ url_for('company_management.main_page') }}">ITIS</a></h1>
    <ul>
        <li><a href="{{ url_for('company_management.departments_list') }}">Departments list</a></li>
        {% if current_user.is_authenticated %}
            <li><a href="{{ url_for('accounts.all_users') }}">Users</a></li>
            <li><a href="{{ url_for('accounts.change_data') }}">Change username</a></li>
            <li><a href="{{ url_for('accounts.current_user_info') }}">{{ current_user.username }}</a></li>
            <li><a href="{{ url_for('accounts.logout') }}">Log Out</a></li>
        {% else %}
            <li><a href="{{ url_for('accounts.login') }}">Log In</a></li>
        {% endif %}
    </ul>
</nav>
<section class="content">
    <header>
        {% block header %}{% endblock %}
    </header>
    {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
    {% endfor %}
    <div class="main_content">
        {% block content %}{% endblock %}
    </div>
</section>
</body>
</html>
